<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Entourage</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="../static/css/business-casual.css" th:href="@{/css/business-casual.css}" rel="stylesheet" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../static/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../static/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .img-circle { width:15em; height:15em; margin:auto; }
        .box{background-color: #DCD0C0;margin-right: 15em; margin-left: 15em;}
        .entourage-text{margin-bottom: 0px;}
        .nav-bridegroom{display: flex;}
        #buttonBride{
            left:8em;
        }
        #buttonGroom{
            right:8em;
        }
        .vr {
            margin-top:1.5em;
            width:1px;
            height:4em;
            background-color:#000;
        }

        @media (max-width: 900px) {
            .box{
                margin-right: 0;
                margin-left: 0;
            }
            .nav-bridegroom{display: block;}
            #buttonBride{
                left:0em;
            }
            #buttonGroom{
                right:0em;
            }
            .vr{
                display: none;
            }
        }

    </style>

</head>

<header>
    <br/>
    <br/>
    <br/>
    <br/>
</header>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Wedding Menu</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html" th:href="@{/}">HELLO</a>
                    </li>
                    <li>
                        <a href="home.html" th:href="@{/home}">OUR STORY</a>
                    </li>
                    <li>
                        <a href="entourage.html" th:href="@{/entourage}">ENTOURAGE</a>
                    </li>
                    <li>
                        <a href="rsvp.html" th:href="@{/rsvp}">RSVP</a>
                    </li>
                    <li>
                        <a href="photos.html" th:href="@{/photos}">PHOTOS</a>
                    </li>
                    <li>
                        <a href="gifts.html" th:href="@{/gifts}">GIFTS</a>
                    </li>
                    <li>
                        <a href="directions.html" th:href="@{/directions}">DIRECTIONS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--NAV FOR BRIDESMAIDS OR GROOMSMEN-->
    <section class="nav-bridegroom">
        <div class="col-lg-12" id="buttonBride" >
            <hr />
            <h2 class="intro-text text-center" id="bridesmaidText" style="font-weight: 900">Bridesmaids</h2>
            <hr />
        </div>
        <div class="vr">&nbsp;</div>
        <div class="col-lg-12" id="buttonGroom" >
            <hr />
            <h2 class="intro-text text-center" id="groomsmenText" style="font-weight: lighter">Groomsmen</h2>
            <hr />
        </div>
    </section>

    <!--Main content-->
    <div class="box" id="bridesmaids">
        <!--<div class="col-lg-12">-->
            <!--<hr />-->
            <!--<h2 class="intro-text text-center">Bridesmaids-->
                <!--&lt;!&ndash;<strong>Team</strong>&ndash;&gt;-->
            <!--</h2>-->
            <!--<hr />-->
        <!--</div>-->
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>John Smith</h3></div>
            <div><small>Job Title</small></div>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>John Smith</h3></div>
            <div><small>Job Title</small></div>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>John Smith</h3></div>
            <div><small>Job Title</small></div>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>John Smith</h3></div>
            <div><small>Job Title</small></div>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>John Smith</h3></div>
            <div><small>Job Title</small></div>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>John Smith</h3></div>
            <div><small>Job Title</small></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="box" id="groomsmen">
        <!--<div class="col-lg-12">-->
            <!--<hr />-->
            <!--<h2 class="intro-text text-center">Groomsmen-->
            <!--</h2>-->
            <!--<hr />-->
        <!--</div>-->
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/10423666_10155479910150319_4481373277105337279_n.jpg?oh=c6b2ea75b66314aabe51c2b8e273b7d6&amp;oe=5A1F395A" alt="" />
            <div class="entourage-text">
                <h3>James Hartanto</h3>
                <small>Best Man, Groom's Brother</small>
            </div>
            <!--<ul>-->
                <!--<li>Hello1</li>-->
                <!--<li>Hello2</li>-->
            <!--</ul>-->
            </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>Shady Lee</h3></div>
            <div><small>Bride's Brother</small></div>
            </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>Nic Arnold</h3></div>
            <div><small>Groom's College Roommate</small></div>
        </div>
        <div class="col-sm-4 text-center">
            <img id="borislau" class="img-responsive img-circle" src="../static/img/Entourage/BorisLau.jpg" th:src="@{/img/Entourage/BorisLau.jpg}" alt="" />
            <div><h3>Boris Lau</h3></div>
            <div><small>Groom's High School Friend</small></div>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>Ben Farrell</h3></div>
            <div><small>Groom's Bible Study Friend</small></div>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive img-circle" src="http://placehold.it/1x1" alt="" />
            <div><h3>John Smith</h3></div>
            <div><small>Job Title</small></div>
        </div>
        <div class="clearfix"></div>
    </div>

<!--jQuery -->
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<script src="../static/js/entourage.js" th:src="@{js/entourage.js}"></script>

</body>

</html>
