<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="shortcut icon" href="../static/img/NSfavicon.jpg" th:href="@{/img/NSfavicon.jpg}" type="image/x-icon" />
    <title>NS Hello</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="../static/css/business-casual.css" th:href="@{/css/business-casual.css}" rel="stylesheet" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../static/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../static/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        section.main .sub-nav{
            position: relative;
            text-align: center;
            margin-top: 2em;
            margin-bottom: 1em;
            overflow: hidden;
        }

        nav{
            display: block;
        }

        section.main .sub-nav {
            font-size: 1rem;
            margin: 0 auto;
        }

        section.main .sub-nav {
            padding: 0;
            margin: 0;
        }

        /*maybe some animation?*/
        #story1 {
            animation: balloon .5s ease; }
        #story2 {
            animation: balloon .5s ease; }
        #story3 {
            animation: balloon .5s ease; }

        @keyframes balloon {
            0% {
                transform: scale(0); }
            100% {
                transform: scale(1); } }

        .w3-display-left {
            position: absolute;
            top: 50%;
            left: 1em;
            transform: translate(0%, -50%);
        }
        .w3-display-right {
            position: absolute;
            top: 50%;
            right: 1em;
            transform: translate(0%, -50%);
        }

    </style>
</head>

<header>
    <br/>
    <br/>
    <br/>
</header>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Wedding Menu</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html" th:href="@{/}">HELLO</a>
                </li>
                <li>
                    <a href="home.html" th:href="@{/home}">OUR STORY</a>
                </li>
                <li>
                    <a href="entourage.html" th:href="@{/entourage}">ENTOURAGE</a>
                </li>
                <li>
                    <a href="rsvp.html" th:href="@{/rsvp}">RSVP</a>
                </li>
                <li>
                    <a href="photos.html" th:href="@{/photos}">PHOTOS</a>
                </li>
                <li>
                    <a href="gifts.html" th:href="@{/gifts}">GIFTS</a>
                </li>
                <li>
                    <a href="directions.html" th:href="@{/directions}">DIRECTIONS</a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <!--/.container -->
</nav>

<section class="main bg_theme_img container" style="position: relative; left:0px; top:0px; ">
    <div id="couple-container" class="full-splash container flex-container">
        <!--MAIN CONTENT-->
        <div id="couple" class="col-xs-10">
            <!--NAVIGATION BAR -->
            <nav id="sub-nav" class="sub-nav" role="navigation">
                <img id="nav-pic-1" src="../static/img/temp/koala.jpg" th:src="@{/img/temp/koala.jpg}" style="width: 7em; height: 5em" />
                <img id="nav-pic-2" src="../static/img/temp/random.jpeg" th:src="@{/img/temp/random.jpeg}" style="width: 7em; height: 5em" />
                <img id="nav-pic-3" src="../static/img/temp/koala.jpg" th:src="@{/img/temp/koala.jpg}" style="width: 7em; height: 5em" />
                <img id="nav-pic-4" src="../static/img/Story/4Fourth.jpg" th:src="@{/img/Story/4Fourth.jpg}" style="width: 7em; height: 5em" />
                <img id="nav-pic-5" src="../static/img/Story/5Fifth.jpg" th:src="@{/img/Story/5Fifth.jpg}" style="width: 7em; height: 5em" />
            </nav>

            <!--THE REAL MAIN CONTENT-->
            <div id="couple-stories">
                <br />
                <!--THE FIRST IMAGE-->
                <div class="mySlides" id="story1" style="position:absolute;" >
                    <img id="pic-1" src="../static/img/temp/koala.jpg" th:src="@{/img/temp/koala.jpg}" style="width: 75%"/>
                    <div style="width: 20%; float:right">Description of Picture 1</div>
                </div>
                <!--THE SECOND IMAGE-->
                <div class="mySlides" id="story2" style="position:absolute;" >
                    <img id="pic-2" src="../static/img/temp/random.jpeg" th:src="@{/img/temp/random.jpeg}" style="width: 75%"/>
                    <div style="width: 20%; float:right">Description of Picture 2</div>
                </div>
                <!--THE THIRD IMAGE-->
                <div class="mySlides" id="story3" style="position:absolute;" >
                    <img id="pic-3" src="../static/img/temp/koala.jpg" th:src="@{/img/temp/koala.jpg}" style="width: 75%"/>
                    <div style="width: 20%; float:right">Description of Picture 3</div>
                </div>
                <!--THE FOURTH IMAGE-->
                <div class="mySlides" id="story4" style="position:absolute;">
                    <img id="pic-4" src="../static/img/Story/4Fourth.jpg" th:src="@{/img/Story/4Fourth.jpg}" style="width: 75%"/>
                    <div style="width: 20%; float:right">Description of Picture 4</div>
                </div>
                <!--THE FIFTH IMAGE-->
                <div class="mySlides" id="story5" style="position:absolute;">
                    <img id="pic-5" src="../static/img/Story/5Fifth.jpg" th:src="@{/img/Story/5Fifth.jpg}" style="width: 75%;"/>
                    <div style="width: 20%; float:right">Description of Picture 5</div>
                </div>
            </div>

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>

        </div>
    </div>
</section>

<!--jQuery -->
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<script src="../static/js/cycle.js" th:src="@{js/cycle.js}"></script>

</body>

</html>
