<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>NS Hello</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../static/css/business-casual.css" th:href="@{/css/business-casual.css}" rel="stylesheet"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../static/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../static/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        .mySlides>img{
            width:60%;
            margin-left: auto;
            margin-right: auto;
            display:block;
            border: solid;
            border-width: 5px;
            border-color: white;
        }
        .sub-nav>img{
            width:4em;
            height:3em;
        }

        section.main .sub-nav {
            position: relative;
            text-align: center;
            margin-top: 2em;
            margin-bottom: 1em;
            overflow: hidden;
        }

        .main{
            padding: 30px 15px;
            margin-left:10em;
            margin-right: 10em;
        }


        @media(max-width:850px){
            .main{
                margin-bottom: 0px;
                padding: 0px 0px;
                margin-left: 0;
                margin-right: 0;}
            .mySlides>img{width:100%;}
        }

        nav {
            display: block;
        }

        section.main .sub-nav {
            font-size: 1rem;
            margin: 0 auto;
        }

        section.main .sub-nav {
            padding: 0;
            margin: 0;
        }


        .w3-display-left {
            position: absolute;
            top: 50%;
            left: 1em;
            transform: translate(0%, -50%);
        }

        .w3-display-right {
            position: absolute;
            top: 50%;
            right: 1em;
            transform: translate(0%, -50%);
        }

    </style>
</head>

<header>
    <br/>
    <h3 class="indented">
        <span style="color:#49274A" class="namefont">Nancy</span> <span class="otherfont" id="and">and</span> <span
            style="color:#49274A" class="namefont">Steven</span>
        <br/>
        <br/>
        <span class="otherfont">
            February 24, 2018
        </span>
        <br/>
    </h3>
    <br/>
</header>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Wedding Menu</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html" th:href="@{/}">HELLO</a>
                </li>
                <li>
                    <a href="home.html" th:href="@{/home}">OUR STORY</a>
                </li>
                <li>
                    <a href="entourage.html" th:href="@{/entourage}">ENTOURAGE</a>
                </li>
                <li>
                    <a href="rsvp.html" th:href="@{/rsvp}">RSVP</a>
                </li>
                <li>
                    <a href="photos.html" th:href="@{/photos}">PHOTOS</a>
                </li>
                <li>
                    <a href="gifts.html" th:href="@{/gifts}">GIFTS</a>
                </li>
                <li>
                    <a href="directions.html" th:href="@{/directions}">DIRECTIONS</a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <!--/.container -->
</nav>

<section class="main" >
    <div id="couple-container" class="full-splash container flex-container">
        <!--MAIN CONTENT-->
        <div id="couple" class="col-xs-10">
            <!--NAVIGATION BAR -->
            <nav id="sub-nav" class="sub-nav" role="navigation">
                <img id="nav-pic-1" src="//c1.staticflickr.com/5/4371/36751177891_80d476ae77_n.jpg"/>
                <img id="nav-pic-2" src="//c1.staticflickr.com/5/4378/36720093822_3e9c5a3cd9_n.jpg"/>
                <img id="nav-pic-3" src="//c1.staticflickr.com/5/4429/36791929606_525dd4bec0_n.jpg"/>
                <img id="nav-pic-4" src="//c1.staticflickr.com/5/4401/36765878926_8beb52a5cb_n.jpg"/>
                <img id="nav-pic-5" src="//c1.staticflickr.com/5/4396/36810201832_b5f2ef7864_h.jpg"/>
                <img id="nav-pic-6" src="//c1.staticflickr.com/5/4400/36557328220_f17572062f_n.jpg"/>
                <img id="nav-pic-7" src="//c1.staticflickr.com/5/4353/36557490620_557446d4ab_n.jpg"/>
                <img id="nav-pic-8" src="//c1.staticflickr.com/5/4412/36791918326_0b10c9fd52_n.jpg"/>
                <img id="nav-pic-9" src="//c1.staticflickr.com/5/4360/36584964620_0c9ee4ad4b_h.jpg"/>
                <img id="nav-pic-10" src="//c1.staticflickr.com/5/4389/36979594835_5a92525607_n.jpg"/>
                <img id="nav-pic-11" src="//c1.staticflickr.com/5/4373/36144091924_70d666af69_n.jpg"/>
                <img id="nav-pic-12" src="//c1.staticflickr.com/5/4442/36809729472_fddefcf262_n.jpg"/>
                <!--<img id="nav-pic-13" src=""/>-->
            </nav>

            <!--THE REAL MAIN CONTENT-->
            <div id="couple-stories">
                <br/>
                <!--THE FIRST IMAGE-->
                <!--<div class="mySlides" id="story1" style="position:absolute;">-->
                <div class="mySlides" id="story1">
                    <img src="//c1.staticflickr.com/5/4371/36751177891_80d476ae77_b.jpg" />
                    <div class="text-center">Description of Picture 1</div>
                </div>
                <!--THE SECOND IMAGE-->
                <div class="mySlides" id="story2" >
                    <img src="//c1.staticflickr.com/5/4378/36720093822_3e9c5a3cd9_b.jpg" />
                    <div class="text-center">Description of Picture 2</div>
                </div>
                <!--THE THIRD IMAGE-->
                <div class="mySlides" id="story3" >
                    <img src="//c1.staticflickr.com/5/4429/36791929606_9c28b961c4_h.jpg" />
                    <div class="text-center">Description of Picture 3</div>
                </div>
                <!--THE FOURTH IMAGE-->
                <div class="mySlides" id="story4" >
                    <img src="//c1.staticflickr.com/5/4401/36765878926_ff8d5d5039_h.jpg" />
                    <div class="text-center">Description of Picture 4</div>
                </div>
                <!--THE FIFTH IMAGE-->
                <div class="mySlides" id="story5" >
                    <img src="//c1.staticflickr.com/5/4396/36810201832_b5f2ef7864_h.jpg" />
                    <div class="text-center">Description of Picture 5</div>
                </div>
                <!--THE SIXTH IMAGE-->
                <div class="mySlides" id="story6" >
                    <img src="//c1.staticflickr.com/5/4400/36557328220_26d782a80d_h.jpg" />
                    <div class="text-center">Description of Picture 6</div>
                </div>
                <!--THE SEVENTH IMAGE-->
                <div class="mySlides" id="story7" >
                    <img src="//c1.staticflickr.com/5/4353/36557490620_59d32da947_h.jpg" />
                    <div class="text-center">Description of Picture 7</div>
                </div>
                <!--THE EIGHTH IMAGE-->
                <div class="mySlides" id="story8" >
                    <img src="//c1.staticflickr.com/5/4412/36791918326_0b10c9fd52_b.jpg" />
                    <div class="text-center">Description of Picture 8</div>
                </div>
                <!--THE NINTH IMAGE-->
                <div class="mySlides" id="story9" >
                    <img src="//c1.staticflickr.com/5/4360/36584964620_0c9ee4ad4b_h.jpg" />
                    <div class="text-center">Description of Picture 9</div>
                </div>
                <!--THE TENTH IMAGE-->
                <div class="mySlides" id="story10" >
                    <img src="//c1.staticflickr.com/5/4389/36979594835_86d2202aeb_h.jpg" />
                    <div class="text-center">Description of Picture 10</div>
                </div>
                <!--THE ELEVENTH IMAGE-->
                <div class="mySlides" id="story11" >
                    <img src="//c1.staticflickr.com/5/4373/36144091924_add163b92a_h.jpg" />
                    <div class="text-center">Description of Picture 11</div>
                </div>
                <!--THE TWELVETH IMAGE-->
                <div class="mySlides" id="story12" >
                    <img src="//c1.staticflickr.com/5/4442/36809729472_f283c4d740_h.jpg" />
                    <div class="text-center">Description of Picture 12</div>
                </div>
                <!--&lt;!&ndash;THE THIRTEENTH IMAGE&ndash;&gt;-->
                <!--<div class="mySlides" id="story13" >-->
                    <!--<img src="" />-->
                    <!--<div class="text-center">Description of Picture 13</div>-->
                <!--</div>-->
            </div>

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>

        </div>
    </div>
</section>

<!--jQuery -->
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<script src="../static/js/cycle.js" th:src="@{js/cycle.js}"></script>

</body>

</html>
