<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Photos</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../static/css/business-casual.css" th:href="@{/css/business-casual.css}" rel="stylesheet"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../static/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../static/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #main {
            margin-left: 10em;
            margin-right: 10em;
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: 850px) {
            #main{
                margin-left:0;
                margin-right:0;
            }
        }

        #main div {
            flex-basis: 49.5%;
        }

        #main div:last-child {
            flex-basis: 49.5%;
        }

        .grid-item-left{
            margin-bottom: 0.5em;
        }
        .grid-item-right{
            margin-bottom: 0.5em;
        }

        .grid-item img {
            display: block;
            max-width: 100%;
        }

        .img-responsive {
            width: 100%;
            height: 100%;
        }

        img {
            vertical-align: middle;
            border-width: 5px;
            border-style: solid;
            border-color: white;
        }

    </style>

</head>

<header>
    <br/>
    <h3 class="indented">
        <span style="color:#49274A" class="namefont">Nancy</span> <span class="otherfont" id="and">and</span> <span
            style="color:#49274A" class="namefont">Steven</span>
        <br/>
        <br/>
        <span class="otherfont">
            February 24, 2018
        </span>
        <br/>
    </h3>
    <br/>
</header>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Wedding Menu</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html" th:href="@{/}">HELLO</a>
                </li>
                <li>
                    <a href="home.html" th:href="@{/home}">OUR STORY</a>
                </li>
                <li>
                    <a href="entourage.html" th:href="@{/entourage}">ENTOURAGE</a>
                </li>
                <li>
                    <a href="rsvp.html" th:href="@{/rsvp}">RSVP</a>
                </li>
                <li>
                    <a href="photos.html" th:href="@{/photos}">PHOTOS</a>
                </li>
                <li>
                    <a href="gifts.html" th:href="@{/gifts}">GIFTS</a>
                </li>
                <li>
                    <a href="directions.html" th:href="@{/directions}">DIRECTIONS</a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <!--/.container -->
</nav>

<section id="main">
    <!--<div class="box" id="grid" >-->
    <div>
        <!--PICTURE 1-->
        <div class="grid-item-left ">
            <!--<figure>-->
            <img src="//c1.staticflickr.com/5/4368/36350171330_89b5e8db59_h.jpg" class="gallery-img img-responsive"/>
            <!--<figcaption>Hello 1</figcaption>-->
            <!--</figure>-->
        </div>
        <!--PICTURE 2-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4340/36699253576_3eaee9aa41_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 3-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4395/36699251166_bb15db1948_b.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 4-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4379/36350173500_df5d36f3dc_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 5-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4340/36699248546_bc4d6c9b17_c.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 6-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4334/36746347785_97c69c098b_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 7-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4408/35937087503_8d7354dac4_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 8-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4435/36746317895_0bd4044b5b_c.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 9-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4427/36350236810_8d20c05a11_b.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 10-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4422/36746326915_4c13c9d1b3_c.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 11-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4351/36326768960_083d90acbe_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 12-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4378/36350248520_206696c76b_b.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 13-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4371/36350242510_187bfe7a62_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 14-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4382/36746362185_ebe1605035_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 15-->
        <div class="grid-item-left ">
            <img src="//c1.staticflickr.com/5/4428/36746336395_034b376f36_h.jpg" class="gallery-img img-responsive"/>
        </div>
    </div>
    <div>
        <!--PICTURE 16-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4430/36699245816_2a4c8519cf_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 17-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4390/36350177610_09c2a38da4_c.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 18-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4400/36350175050_eb74f5452c_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 19-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4374/36675945906_44808799bc_c.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 20-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4404/36746378955_20f8eac317_c.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 21-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4406/35887009424_d86af548e3_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 22-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4372/36583656001_9d7b9d85b3_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 23-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4363/36746373965_ab174fd3ba_c.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 24-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4407/35913251373_4556202162_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 25-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4425/35937122823_08d145da9b_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 26-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4413/36746331865_de90cd89b5_c.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 27-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4351/36746353205_7aaf140f08_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 28-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4353/36350184270_33611dff00_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 29-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4412/36350246060_ed4dab017b_h.jpg" class="gallery-img img-responsive"/>
        </div>
        <!--PICTURE 30-->
        <div class="grid-item-right ">
            <img src="//c1.staticflickr.com/5/4351/36699283916_16e95c940c_h.jpg" class="gallery-img img-responsive"/>
        </div>
    </div>
</section>

<!--NOT ASSIGNED YET-->








<!--jQuery -->
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!--opens new window for each photo to reveal true size-->
<!--<script>-->
<!--$("img").on('click',function(){-->
<!--window.open($(this).attr("src"), "_blank", "menubar=1,resizable=1");-->
<!--});-->
<!--</script>-->
</body>

</html>
