<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>NS Wedding</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../static/css/business-casual.css" th:href="@{/css/business-casual.css}" rel="stylesheet"/>

    <!--Remodal-->
    <link href="../static/css/remodal.css" th:href="@{/css/remodal.css}" rel="stylesheet"/>
    <link href="../static/css/remodal-default-theme.css" th:href="@{/css/remodal-default-theme.css}" rel="stylesheet"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"/>

    <style>
        #food_preference #food_allergies #email_confirmation #room_block #song_suggestion{
            display: none;
        }
    </style>

</head>

<header>
    <br/>
    <h3 class="indented">
        <span style="color:#49274A" class="namefont">Nancy</span> <span class="otherfont" id="and">and</span> <span
            style="color:#49274A" class="namefont">Steven</span>
        <br/>
        <br/>
        <span class="otherfont">
            February 24, 2018
        </span>
        <br/>
    </h3>
    <br/>
</header>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Wedding Menu</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html" th:href="@{/}">HELLO</a>
                </li>
                <!--<li>-->
                    <!--<a href="home.html" th:href="@{/home}">OUR STORY</a>-->
                <!--</li>-->
                <li>
                    <a href="entourage.html" th:href="@{/entourage}">ENTOURAGE</a>
                </li>
                <li>
                    <a href="rsvp.html" th:href="@{/rsvp}"><strong>RSVP</strong></a>
                </li>
                <li>
                    <a href="photos.html" th:href="@{/photos}">PHOTOS</a>
                </li>
                <li>
                    <a href="gifts.html" th:href="@{/gifts}">GIFTS</a>
                </li>
                <li>
                    <a href="directions.html" th:href="@{/directions}">DIRECTIONS</a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <!--/.container -->
</nav>

<br/>

<div class="container">

    <form action="rsvp2.html" th:action="@{/rsvp2}" method="post">
        <!--name hidden-->
        <input type="text" title="name" name="name" th:value="${guest.getName()}" th:hidden="true" />

        <div class="questions">
            <!--ATTENDING-->
            <div class="row">
                <h4>Attending?</h4>
            </div>
            <div class="answerInputs">
                <div class="buttons" data-toggle="buttons">
                    <!--<button type="button" name="attending" id="attendingYes" value="Yes" th:checked="${guest.getAttending() =='Yes'}">Yes</button>-->
                    <!--<button type="button" name="attending" id="attendingNo" value="No" th:checked="${guest.getAttending() =='No'}">No</button>-->
                    <input type="button" name="attending" id="attendingYes" value="Yes" th:checked="${guest.getAttending() == 'Yes'}" />
                    <input type="button" name="attending" id="attendingNo" value="No" th:checked="${guest.getAttending() == 'No'}"/>
                    <input type="text" name="attendingAnswer" id="attendingAnswer" value="" th:hidden="true" />
                </div>
            </div>

            <!--FOOD PREFERENCE-->
            <div class="row" id="food_preference" th:hidden="true">
                <h4>Food Choice</h4>
                <input type="radio" name="food" id="food1" value="BeefRare" th:checked="${guest.getFood() == 'BeefRare'}"/>
                <label for="food1">Grilled Prime New York Strip - Medium Rare</label><br/>
                <input type="radio" name="food" id="food2" value="BeefWell" th:checked="${guest.getGuestFood() == 'BeefWell'}" />
                <label for="food2">Grilled Prime New York Strip - Medium Well</label><br />
                <input type="radio" name="food" id="food3" value="Fish" th:checked="${guest.getFood() == 'Fish'}"/>
                <label for="food3">Miso-Glazed Black Cod</label><br/>
                <input type="radio" name="food" id="food4" value="Vegetarian" th:checked="${guest.getFood() == 'Vegetarian'}"/>
                <label for="food4">Vegetarian</label>
            </div>

            <!--ALLERGIES-->
            <div class="row" id="food_allergies" th:hidden="true">
                <h4>Allergies?</h4>
                <input size="35em" type="text" id="allergies" maxlength="100" title="allergies" name="allergies" th:value="${guest.getAllergies()}"/>
            </div>

            <!--GUEST RELATED-->
            <!--BRINGING GUEST-->
            <div th:if="${guest.isGuestAllow()}" th:hidden="true" id="bring_guest">
                <div class="row">
                    <h4>Bringing a Guest?</h4>
                </div>
                <div class="answerInputs">
                    <div class="buttons" data-toggle="buttons">
                        <input type="button" name="bringGuest" id="bringGuestYes" value="Yes" th:checked="${guest.isGuestAllow()}" />
                        <input type="button" name="bringGuest" id="bringGuestNo" value="No" th:checked="${!guest.isGuestAllow()}"/>
                        <input type="text" name="bringGuestAnswer" id="bringGuestAnswer" value="" th:hidden="true" />
                    </div>
                </div>

                <!--GUEST NAME-->
                <div id="guest_inputs" th:hidden="true">
                    <div class="row" >
                        <h4>Guest Name</h4>
                        <div class="answerInputs">
                            <input size="35em" type="text" id="guestName" title="guestName" name="guestName" th:value="${guest.getGuestName()}" />
                        </div>
                    </div>

                    <!--GUEST FOOD-->
                    <div class="row" >
                        <h4>Guest Food Choice</h4>
                        <input type="radio" name="guestFood" id="guestfood1" value="BeefRare" th:checked="${guest.getGuestFood() == 'BeefRare'}" />
                        <label for="guestfood1">Grilled Prime New York Strip - Medium Rare</label><br />
                        <input type="radio" name="guestFood" id="guestfood2" value="BeefWell" th:checked="${guest.getGuestFood() == 'BeefWell'}" />
                        <label for="guestfood2">Grilled Prime New York Strip - Medium Well</label><br />
                        <input type="radio" name="guestFood" id="guestfood3" value="Fish" th:checked="${guest.getGuestFood() == 'Fish'}"/>
                        <label for="guestfood3">Miso-Glazed Black Cod</label><br />
                        <input type="radio" name="guestFood" id="guestfood4" value="Vegetarian" th:checked="${guest.getGuestFood() == 'Vegetarian'}"/>
                        <label for="guestfood4">Vegetarian</label>
                    </div>

                    <!--GUEST ALLERGIES-->
                    <div class="row" >
                        <h4>Guest Allergies?</h4>
                        <input size="35em" type="text" maxlength="100" id="guestAllergies" title="guestAllergies" name="guestAllergies" th:value="${guest.getGuestAllergies()}"/>
                    </div>
                </div>
            </div>

            <!--ROOM BLOCK-->
            <div class="row" id="room_block" th:hidden="true">
                <h4>Room Block?</h4>
                <div class="answerInputs">
                    <div class="buttons" data-toggle="buttons">
                        <input type="button" name="roomBlock" id="roomBlockYes" value="Yes" th:checked="${guest.getRoomBlock() == 'Yes'}" />
                        <input type="button" name="roomBlock" id="roomBlockNo" value="No" th:checked="${guest.getRoomBlock() == 'No'}" />
                        <input type="text" name="roomBlockAnswer" id="roomBlockAnswer" value="" th:hidden="true" />
                        <p>To book your room with us, click here: <a style="cursor: pointer" onclick="window.open('https://aws.passkey.com/event/49571921/owner/54865/home?mobile=true&amp;dw=375')">Hartanto-Lee Wedding Room Block</a></p>
                    </div>
                </div>
            </div>

            <!--SONG SUGGESTION-->
            <div class="row" id="song_suggestion" th:hidden="true">
                <h4>Song Suggestions?</h4>
                <div class="answerInputs">
                    <input size="35em" type="text" maxlength="100" id="song" title="song" name="song" th:value="${guest.getSong()}" />
                </div>
            </div>


            <!--EMAIL CONFIRMATION-->
            <div class="row" id="email_confirmation" th:hidden="true">
                <h4>Your Email: </h4>
                <div>
                    <input size="35em" type="email" maxlength="50" name="email" title="email" id="email" th:value="${guest.getEmail()}"/>
                </div>
            </div>

            <br />
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<!--jQuery -->
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!--remodal-->
<script src="../static/js/remodal.js" th:src="@{/js/remodal.js}"></script>
<script src="../static/js/rsvp.js" th:src="@{/js/rsvp.js}"></script>

</body>

</html>